/* COMMON */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.predrop{
  display: none;
}

.drop:hover .predrop{
  display: block;
}

a{
  text-decoration: none;
  color: grey;
}

a:hover{
  color: black;
}

li{
  list-style: none;
}

.big_cont{
  padding: 0 10%;
}

header{
  background-color: #ccc;
  height: 50px;
}

.h_leftright{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 0 10%;
}

.h_left a, .h_right a{
  padding: 0 15px;
  font-weight: bold;
}

.main_bar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 20px 0;
}

.logo{
  font-weight: bold;
  font-size: 25px;
  color: black;
  padding-right: 50px;
}

.mainbarleft span{
  padding: 0 15px;
}
