/* COMMON */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide{
  display: none;
}
.p_drop{
  position: relative;
}

.dropCont{
  position: absolute;
  height: 250px;
  width: 250px;
  left: 21%;
  padding: 10px 5px;
  border: 2px solid black;
}

.sec{
  left: 28%;
}

.third{
  left: 42%;
  height: 150px;
}
.fourth{
  left: 49%;
}
.fifth{
  left: 55%;
}

.dropCont li{
  padding: 10px 5px;
}

.mainbarleft span{
  color: grey;

}

.mainbarleft span:hover{
  color: black;
}

a{
  text-decoration: none;
  color: grey;
}

a:hover{
  color: black;
}

li{
  list-style: none;
}

.big_cont{
  padding: 0 10%;
}

header{
  background-color: #ccc;
  height: 50px;
}

.h_leftright{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 0 10%;
}

.h_left a, .h_right a{
  padding: 0 15px;
  font-weight: bold;
}

.main_bar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 20px 0;
}

.logo{
  font-weight: bold;
  font-size: 25px;
  color: black;
  padding-right: 50px;
}

.mainbarleft span{
  padding: 0 15px;
  cursor: pointer;
}

.download{
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color: black;
  font-weight: bold;
  padding: 10px;
  transition: all .5s;
}
.download:hover{
  background-color: grey;
}
